

<router-outlet>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>supervised_user_circle</mat-icon>
    </button>
    <span>E-commerce Application</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <div class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <p></p>
          </div>
          <!-- <div class="modal-footer">
            <button type="button" class="btn btn-primary"></button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal"></button>
          </div> -->
        </div>
      </div>
    </div>
        <button mat-raised-button color="warn" (click)="openDialog()">Add Product</button>

  </mat-toolbar>
  
</router-outlet>
